extends base

block append head
  script(src='/js/updateDeleteReview.js')

mixin sideBarItem(link, text, icon)
  li
    a.flex.items-center.p-2.text-base.font-normal.text-gray-500.rounded-lg(href=`${link}` class='hover:bg-gray-100')
      svg.w-6.h-6.text-gray-500.transition.duration-75(aria-hidden='true' class='group-hover:text-gray-900' fill='currentColor' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg')
        use(xlink:href=`img/icons.svg#icon-${icon}`)
      span.font-medium.ml-3 #{text}  

mixin review(review)
  - const reviewDate = review.createdAt.toLocaleDateString('en-us', { year:"numeric", month:"short", day:"numeric"}) 
  - const reviewTime = review.createdAt.toLocaleTimeString()
  tr.bg-white.border-b(class='hover:bg-gray-50')
    td.p-4.w-4
      .flex.items-center
        input.checkbox.w-4.h-4.text-blue-600.bg-gray-100.rounded.border-gray-300(data-review-id=`${review.id}` data-tour-name=`${review.tour.name}` data-review-rating=`${review.rating}` data-review-content=`${review.content}` type='checkbox' class='focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600')
        label.sr-only(for='checkbox-table-search-1') checkbox
    th.py-4.px-6.font-medium.text-gray-900.whitespace-nowrap(scope='row' class='dark:text-white')
      | #{review.tour.name}
    td.py-4.px-6
      | #{review.rating}
    td.py-4.px-6
      | #{reviewDate} #{reviewTime}
    
block content
  main.main 
    .container.mx-auto.py-6
        .flex.flex-no-wrap.shadow.mx-4
          .border-r.border-gray-200
            aside.w-64(aria-label='Sidebar')
              .overflow-y-auto.py-6.px-6
                ul.space-y-2
                  +sideBarItem('/mypage', 'Settings', 'settings')
                  +sideBarItem('/bookings', 'My bookings', 'briefcase')
                  +sideBarItem('/my-reviews', 'My review', 'star')
                  +sideBarItem('/billing', 'Billing', 'credit-card')
                - if (user.role === 'admin')
                  ul.pt-4.mt-4.space-y-2.border-t.border-gray-200
                    +sideBarItem('#', 'Manage tours', 'map')
                    +sideBarItem('#', 'Manage users', 'users')
                    +sideBarItem('#', 'Manage reviews', 'star')
                    +sideBarItem('#', 'Manage bookings', 'briefcase')

          .flex-auto.mb-8.mx-4       
            #tour-section.h3.mb-4.text-3xl.font-extrabold.text-gray-900.mx-4.mt-8 My Reviews
            #fullWidthTabContent.border-t.border-gray-200.mx-4
              .overflow-x-auto.relative.shadow.mx-4.mt-8(class='sm:rounded-lg')
                table.w-full.text-sm.text-left.text-gray-500
                  thead.text-xs.text-gray-700.uppercase.bg-gray-50
                    tr
                      th.p-4(scope='col')
                        .flex.items-center
                          input#checkbox-all-search.w-4.h-4.text-blue-600.bg-gray-100.rounded.border-gray-300(type='checkbox' class='focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600')
                          label.sr-only(for='checkbox-all-search') checkbox
                      th.py-3.px-6(scope='col')
                        | Reviewed Tour
                      th.py-3.px-6(scope='col')
                        | Rating
                      th.py-3.px-6(scope='col')
                        | Review Date
                  tbody
                    each review in reviews
                      +review(review)
            .flex.justify-end.items-center.mx-auto.mr-4.mt-8
              button.edit-btn.w-16.h-10.text-white.font-bold.rounded-lg.text-sm.px-5.text-center.inline-flex.items-center.justify-center.mr-4(class='bg-gray-700 hover:bg-gray-500 focus:ring-4 focus:outline-none focus:ring-[#24292F]/50 py-2.5 ' type='button' data-modal-toggle='authentication-modal')
                | Edit
              #authentication-modal.fixed.top-0.left-0.right-0.z-50.hidden.w-full.p-4.overflow-x-hidden.overflow-y-auto.h-modal(tabindex='-1' aria-hidden='true' class='md:inset-0 md:h-full')
                .relative.w-full.h-full.max-w-md(class='md:h-auto')
                  .relative.bg-white.rounded-lg.shadow(class='dark:bg-gray-700')
                    button.absolute.top-3.text-gray-400.bg-transparent.rounded-lg.text-sm.ml-auto.inline-flex.items-center(type='button' class='right-2.5 hover:bg-gray-200 hover:text-gray-900 p-1.5' data-modal-toggle='authentication-modal')
                      svg.w-5.h-5(aria-hidden='true' fill='currentColor' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg')
                        path(fill-rule='evenodd' d='M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z' clip-rule='evenodd')
                      span.sr-only Close modal
                    .px-6.py-6(class='lg:px-8')
                      form#form-review-data
                        h3#form-review-data-text.mb-4.text-xl.font-medium.text-gray-900 Update Your Review
                        | 
                        div
                          label.block.mb-2.text-sm.font-medium.text-gray-900(for='rating' class='dark:text-white') Your rating
                          input#rating.bg-gray-50.border.border-gray-300.text-gray-900.text-sm.rounded-lg.block.w-full(type='number' step="0.1" min="1" max="5" aria-describedby='helper-text-explanation' class='focus:ring-blue-500 focus:border-blue-500 p-2.5 ')
                          p#helper-text-explanation.mt-2.text-sm.text-gray-500
                            | Rating in a scale of 1-5.
                        div
                          label.block.mb-2.mt-4.text-sm.font-medium.text-gray-900(for='message') Your review
                          textarea#message.mb-6.block.w-full.text-sm.text-gray-900.bg-gray-50.rounded-lg.border.border-gray-300(type="text" rows='4' class='p-2.5 focus:ring-blue-500 focus:border-blue-500')
                        .flex.items-center.justify-end
                          button.update-review-btn.w-32.text-white.bg-gray-700.font-medium.rounded-lg.text-sm.px-5.text-center(type='submit' class='hover:bg-gray-500 focus:ring-4 focus:outline-none focus:ring-gray-300 py-2.5') Save Review


              button.cancel-btn.mr-5.block.text-white.bg-red-600.font-medium.rounded-lg.text-sm.px-5.text-center(class='hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 py-2.5' type='button' data-modal-toggle='popup-modal')
                      | Delete
              #popup-modal.fixed.top-0.left-0.right-0.z-50.hidden.p-4.overflow-x-hidden.overflow-y-auto.h-modal(tabindex='-1' class='md:inset-0 md:h-full')
                .relative.w-full.h-full.max-w-md(class='md:h-auto')
                  .relative.bg-white.rounded-lg.shadow(class='dark:bg-gray-700')
                    button.absolute.top-3.text-gray-400.bg-transparent.rounded-lg.text-sm.ml-auto.inline-flex.items-center(type='button' class='right-2.5 hover:bg-gray-200 hover:text-gray-900 p-1.5 dark:hover:bg-gray-800 dark:hover:text-white' data-modal-toggle='popup-modal')
                      svg.w-5.h-5(aria-hidden='true' fill='currentColor' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg')
                        path(fill-rule='evenodd' d='M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z' clip-rule='evenodd')
                      span.sr-only Close modal
                    .p-6.text-center
                      svg.mx-auto.mb-4.text-gray-400.w-14.h-14(aria-hidden='true' class='dark:text-gray-200' fill='none' stroke='currentColor' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg')
                        path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z')
                      h3#modal-text.mb-5.text-lg.font-normal.text-gray-500(class='dark:text-gray-400') Are you sure you want to cancel this review?
                      button.review-cancel-btn.text-white.bg-red-600.font-medium.rounded-lg.text-sm.inline-flex.items-center.px-5.text-center.mr-2(data-modal-toggle='popup-modal' type='button' class='hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 py-2.5')
                        | Yes, I'm sure
                      button.text-gray-500.bg-white.rounded-lg.border.border-gray-200.text-sm.font-medium.px-5(data-modal-toggle='popup-modal' type='button' class='hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 py-2.5 hover:text-gray-900 focus:z-10') No, cancel            


