extends base

//-append content in html <head>
block append head
  //-script(src='/js/mapbox.js')
  script(src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch")
  script(src="https://js.stripe.com/v3/")
  script(src='/js/checkout.js')
  script(src='/js/addReview.js')


mixin factBox(label, text, icon)

  .flex.flex-row.items-center.justify-center
    .font-medium.text-gray-600.mr-6=label

    if label === 'Rating'
      .flex.items-end.mb-5(class='mt-2.5')
        each star in [1,2,3,4,5]
          svg.w-5.h-5(class=`text-${tour.ratingsAverage >= star? 'yellow-300': 'gray-300'}` aria-hidden='true' fill='currentColor' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg')
            path(d='M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z')
        p.ml-2.text-md.font-bold.text-gray-700= `${tour.ratingsAverage} out of 5`

    else if label === 'Participants'
      .mb-2.text-2xl.font-extrabold.text-yellow-400 #{text}
      .mb-2.ml-3.text-md.font-semibold.text-grey-600 People
    else if label === 'Duration'
      .mb-2.text-2xl.font-extrabold.text-yellow-400 #{text}
      .mb-2.ml-3.text-md.font-semibold.text-grey-600 Day
    else
      .mb-2.text-2xl.font-extrabold.text-yellow-400=text


block content 
  .container.mx-auto  
    section.my-6
      .gap-16.items-center.px-4.mx-auto.max-w-screen-xl(class='lg:grid lg:grid-cols-2 lg:py-16 lg:px-6')
        .font-light.text-gray-500(class='sm:text-lg').mr-4
          h2.mb-4.text-5xl.tracking-tight.font-extrabold.text-gray-900=tour.name
          p.mb-4.font-medium=tour.summary
          .flex.flex-row
            svg.heading-box__icon.mr-3
              use(xlink:href='/img/icons.svg#icon-clock')
            p.font-medium=`${tour.duration} days` 
            svg.heading-box__icon.mr-3.ml-4
              use(xlink:href='/img/icons.svg#icon-map-pin')
            p.font-medium.heading-box__text=tour.startLocation.description

          a.w-full.bg-gray-700.text-white.rounded-lg.inline-flex.items-center.justify-center.px-4.mt-6(href='#about-tour' class='sm:w-auto hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-300 py-2.5')
            img.mr-3.w-5.h-5(src='/img/logo.png')
            .text-left
              .font-sans.text-base.font-normal Explore The Tour

        .grid.mt-8.ml-4
          img.heading-box__photo.w-full.rounded-md.shadow-md(src=`/img/tours/${tour.imageCover}` alt='tour-cover-image')

    #about-tour.mx-4.my-6.py-4
      h1.mb-4.text-3xl.font-extrabold.text-gray-900(class='dark:text-white md:text-4xl lg:text-4xl')
        span.text-transparent.bg-clip-text.bg-gradient-to-r.to-pink-600.from-sky-400 About #{tour.name} Tour
      p.text-lg.font-normal.text-gray-500(class='lg:text-xl dark:text-gray-400')=tour.description


    h3.mb-4.text-3xl.font-extrabold.text-gray-900.mx-4 Quick Facts
    #fullWidthTabContent.border-t.border-gray-200.mx-4
      #stats.p-4.bg-white.rounded-lg(class='md:p-8 dark:bg-gray-800')
        .grid.max-w-screen-xl.gap-8.p-4.mx-auto.text-gray-900(class='sm:grid-cols-2 xl:grid-cols-4')
          - const date = tour.startDates[0].toLocaleString('en-us', {month: 'long', year: 'numeric'})
          - const difficulty = tour.difficulty.charAt(0).toUpperCase() + tour.difficulty.substring(1)
          +factBox('Start Location', tour.startLocation.description)
          +factBox('Duration', `${tour.duration}` )
          +factBox('Next date', date)
          +factBox('Difficulty', difficulty)
          +factBox('Participants', `${tour.maxGroupSize}`)
          +factBox('Rating', `${tour.ratingsAverage}`)

    h3.mb-4.text-3xl.font-extrabold.text-gray-900.mx-4 Tour Guides
    #fullWidthTabContent.border-t.border-gray-200.mx-4
    .grid.grid-cols-1.gap-4.px-4.mx-4.py-4.mt-4(class='md:grid-cols-3 lg:grid-cols-3')
      each guide in tour.guides
        a.flex.flex-col.items-center.bg-white.border.border-gray-200.rounded-lg.shadow.py-3.px-4(href='#' class='md:flex-row md:max-w-xl hover:bg-gray-100 hover:shadow-lg')
          img.rounded-full.mt-4.w-20.h-auto(class='md:mt-0' src=`/img/users/${guide.photo}`, alt=`${guide.username}`)
          .flex.flex-col.justify-between.p-4.leading-normal
            h6.mb-2.text-xl.font-bold.tracking-tight.text-gray-900(class='dark:text-white')=guide.username
            - if (guide.role === 'lead-guide')
              p.mb-3.font-normal.text-gray-700(class='dark:text-gray-400') Lead guide 
            - if (guide.role === 'guide')
              p.mb-3.font-normal.text-gray-700(class='dark:text-gray-400') Guide

    h3.mb-4.text-3xl.font-extrabold.text-gray-900.mx-4.mt-8 Gallery
    #fullWidthTabContent.border-t.border-gray-200.mx-4
    .grid.grid-cols-1.gap-4.px-4.mx-4.py-4.mt-4(class='md:grid-cols-3 lg:grid-cols-3')
      each image, i in tour.images
        .flex.justify-center
          img.picture-box__img.rounded-lg.shadow-lg(src=`/img/tours/${image}`, alt=`tour-image-${i+1}`, class=`picture-box__img--${i+1}`)


    h3.mb-4.text-3xl.font-extrabold.text-gray-900.mx-4.mt-8 Reviews
    #fullWidthTabContent.border-t.border-gray-200.mx-4
    .grid.mb-8.mt-8.mx-4.py-4.px-4(class='dark:border-gray-700 md:mb-12 md:grid-cols-2')
      each review in tour.reviews
        figure.flex.flex-col.items-center.justify-center.p-4.text-center.bg-white.border.border-gray-200.mx-1.mb-2(class='md:rounded-t-none md:rounded-t-lg md:border-r hover:bg-gray-50')
          blockquote.max-w-xl.mx-auto.text-gray-500.justify-start(class='lg:mb-8 dark:text-gray-400')
            p.my-4.font-light=review.content
            .flex.mb-5(class='mt-2.5')
              - const reviewDate = review.createdAt.toLocaleDateString('en-us', { weekday:"long", year:"numeric", month:"short", day:"numeric"}) 
              span.text-xs Reviewed on #{reviewDate}
            .flex.items-center.mb-5(class='mt-2.5')
              each star in [1,2,3,4,5]
                svg.w-5.h-5(class=`text-${review.rating >= star? 'yellow-300': 'gray-300'}` aria-hidden='true' fill='currentColor' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg')
                  path(d='M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z')
              <p class="ml-2 text-sm font-medium text-gray-500">#{review.rating} out of 5</p>  
          figcaption.flex.items-center.justify-center.space-x-3
            img.rounded-full.w-12.h-12(src=`/img/users/${review.author.photo}`, alt=`${review.author.username}`)
            .font-medium.text-left(class='space-y-0.5 dark:text-white')
              div #{review.author.name}
              .text-md.font-medium.text-gray-500(class='dark:text-gray-400')=review.author.username
    
    if user
      .p-4.mx-4.mb-8.flex.items-center.justify-center(class='sm:p-2 sm:w-fit')
        button.w-96.h-12.text-white.font-bold.rounded-lg.text-sm.px-5.text-center.inline-flex.items-center.justify-center.mr-2.mb-2(class='bg-gray-700 hover:bg-gray-500 focus:ring-4 focus:outline-none focus:ring-[#24292F]/50 py-2.5 ' type='button' data-modal-toggle='authentication-modal')
          | Did you enjoy the tour? Leave a review!
          svg.ml-3.w-6.h-6(fill='none' stroke='currentColor' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg')
            path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z')

        

      #authentication-modal.fixed.top-0.left-0.right-0.z-50.hidden.w-full.p-4.overflow-x-hidden.overflow-y-auto.h-modal(tabindex='-1' aria-hidden='true' class='md:inset-0 md:h-full')
        .relative.w-full.h-full.max-w-md(class='md:h-auto')

          .relative.bg-white.rounded-lg.shadow(class='dark:bg-gray-700')
            button.absolute.top-3.text-gray-400.bg-transparent.rounded-lg.text-sm.ml-auto.inline-flex.items-center(type='button' class='right-2.5 hover:bg-gray-200 hover:text-gray-900 p-1.5' data-modal-toggle='authentication-modal')
              svg.w-5.h-5(aria-hidden='true' fill='currentColor' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg')
                path(fill-rule='evenodd' d='M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z' clip-rule='evenodd')
              span.sr-only Close modal
            .px-6.py-6(class='lg:px-8')
              form#form-review-data(data-tour-id=`${tour.id}`  data-slug=`${tour.slugifiedName}`)
                h3.mb-4.text-xl.font-medium.text-gray-900 Create Your Review
                div
                  label.block.mb-2.text-sm.font-medium.text-gray-900(for='rating' class='dark:text-white') Your rating
                  input#rating.bg-gray-50.border.border-gray-300.text-gray-900.text-sm.rounded-lg.block.w-full(type='number' step="0.1" min="1" max="5" aria-describedby='helper-text-explanation' class='focus:ring-blue-500 focus:border-blue-500 p-2.5 ' placeholder='4.5')
                  p#helper-text-explanation.mt-2.text-sm.text-gray-500
                    | Rating in a scale of 1-5.
                div
                  label.block.mb-2.mt-4.text-sm.font-medium.text-gray-900(for='message') Your review
                  textarea#message.mb-6.block.w-full.text-sm.text-gray-900.bg-gray-50.rounded-lg.border.border-gray-300(rows='4' class='p-2.5 focus:ring-blue-500 focus:border-blue-500' placeholder='Write your thoughts here...')
                .flex.items-center.justify-end
                  button#add-review-btn.w-32.text-white.bg-gray-700.font-medium.rounded-lg.text-sm.px-5.text-center(type='submit' class='hover:bg-gray-500 focus:ring-4 focus:outline-none focus:ring-gray-300 py-2.5') Save Review

    .w-fit.p-4.text-center.bg-white.border.rounded-lg.shadow.mx-4.mb-8(class='hover:bg-gray-50 sm:p-8 sm:w-fit')
      h5.mb-2.text-3xl.font-bold.text-gray-900 What are you waiting for?
      p.mb-5.text-base.text-gray-500(class='sm:text-lg')
        | #{tour.duration} days. 1 adventure. Infinite memories. Make it yours today!
      .items-center.justify-center.space-y-4(class='sm:flex sm:space-y-0 sm:space-x-4')
        if user
          button#book-tour.text-white.font-semibold.rounded-lg.text-base.px-5.text-center.inline-flex.items-center.mr-2.mb-2(data-tour-id=`${tour.id}` type='button' class='bg-[#050708] hover:bg-[#050708]/90 focus:ring-4 focus:outline-none focus:ring-[#050708]/50 py-2.5 dark:focus:ring-[#050708]/50 dark:hover:bg-[#050708]/30')
            img.mr-3.w-7.h-7(src='/img/logo.png')    
            |   Start Booking The Tour    
        else
          button
            a.w-full.bg-gray-800.text-white.rounded-lg.inline-flex.items-center.justify-center.px-4(href='/login' class='sm:w-auto hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-300 py-2.5')
              img.mr-3.w-6.h-6(src='/img/logo.png')
              .text-left
                .mb-1.text-xs Login to book
                .-mt-1.font-sans.text-sm.font-semibold The Tour



